In [52]:
import sdv

In [53]:
from sdv.datasets.local import load_csvs
from sdv.datasets.demo import download_demo

# This is the default folder name that the GOogle Colab notebook uses.
# Change this if you have your own folder with CSV files.
FOLDER_NAME = 'csvfiles'

try:
  data = load_csvs(folder_name='csvfiles')
except ValueError:
  print('You have not uploaded any csv files. Using some demo data instead.')
  data, _ = download_demo(
    modality='multi_table',
    dataset_name='fake_hotels'
  )

In [54]:
data.keys()

dict_keys(['artist'])

In [55]:
artists_table=data['artist']
artists_table.head(8)

,artist_id,full_name,first_name,middle_names,last_name,nationality,style,birth,death
0,500,Pierre-Auguste Renoir,Pierre,Auguste,Renoir,French,Impressionist,1841,1919
1,501,Alexandre Cabanel,Alexandre,NaN,Cabanel,French,Classicist,1823,1889
2,502,James Ensor,James,NaN,Ensor,Belgian,Expressionist,1860,1949
3,503,Maximilien Luce,Maximilien,NaN,Luce,French,Pointillist,1858,1941
4,504,August Macke,August,NaN,Macke,German,Expressionist,1887,1914
5,505,Thomas Gainsborough,Thomas,NaN,Gainsborough,English,Rococo,1727,1788
6,506,Julien Dupré,Julien,NaN,Dupre,French,Naturalist,1851,1910
7,507,George Catlin,George,NaN,Catlin,American,American West,1796,1872

In [56]:

from sdv.metadata import MultiTableMetadata

metadata =MultiTableMetadata()

In [57]:
metadata.save_to_json('metadata_art1.json')

# in the future, you can reload the metadata object from the file
metadata = MultiTableMetadata.load_from_json('metadata_art1.json')

In [58]:
metadata.detect_from_dataframes(data)

In [59]:
print('Auto detected data:\n')

Auto detected data:

In [60]:
metadata.update_column(
    table_name='artist',
    column_name='full_name',
    sdtype='categorical'
)

SyntaxError: positional argument follows keyword argument (123883856.py, line 5)

In [ ]:
metadata.validate()

In [ ]:
metadata.validate_data(data=data)

In [ ]:
from sdv.multi_table import HMASynthesizer

synthesizer = HMASynthesizer(metadata)
synthesizer.fit(data)
synthetic_data = synthesizer.sample(scale=1)

/home/user1/.local/lib/python3.10/site-packages/sdv/multi_table/base.py:80: UserWarning: We strongly recommend saving the metadata using 'save_to_json' for replicability in future SDV versions.
  warnings.warn(
Preprocess Tables: 100%|██████████| 1/1 [00:00<00:00,  3.10it/s]

Learning relationships:

Modeling Tables: 100%|██████████| 1/1 [00:00<00:00,  2.05it/s]

In [ ]:
synthetic_data['artist'].head(20)

,artist_id,full_name,first_name,middle_names,last_name,nationality,style,birth,death
0,0,John Wesley Jarvis,Stephanie,NaN,Hernandez,Dutch,Baroque,1714,1654
1,1,Maurice Utrillo,Adrian,sdv-pii-zlefp,Chang,English,Baroque,1886,1979
2,2,Cornelis Van Haarlem,Wanda,NaN,Garcia,Flemish,Baroque,1812,1940
3,3,Simon Vouet,Leslie,NaN,Mejia,American,Pointillist,1852,1885
4,4,Alfred Thompson Bricher,Mary,sdv-pii-s0mpc,Perez,French,Art Nouveau,1897,1888
5,5,Jean Béraud,Michelle,sdv-pii-7xlgz,Rodriguez,English,Symbolist,1873,1893
6,6,Philippe De Champaigne,Pamela,NaN,Richard,English,Impressionist,1900,1965
7,7,Charles-Francois Daubigny,Spencer,NaN,Jones,American,Expressionist,1892,1970
8,8,August Macke,Robert,sdv-pii-s3gab,Hughes,American,Baroque,1775,1861
9,9,Adriaan De Lelie,Ashley,sdv-pii-ucyld,Anderson,American,Marine Art,1792,1853
10,10,Willem Bartel Van Der Kooi,Susan,sdv-pii-nqh09,Sanchez,American,Northern Renaissance,1718,1884
11,11,Frans Hals,Leslie,sdv-pii-eel6p,Green,Flemish,Avant-Garde,1861,1985
12,12,Jan Toorop,Jillian,sdv-pii-w1hhr,Baker,French,Romantic,1817,1969
13,13,Albrecht Adam,Teresa,NaN,Padilla,Dutch,Baroque,1737,1805
14,14,Adriaen Thomasz. Key,Jordan,NaN,Taylor,French,Baroque,1891,1988
15,15,James Tissot,Alicia,sdv-pii-uqa79,Hess,American,Expressionist,1490,1554
16,16,John Vanderbank,Jamie,NaN,Wu,Dutch,Rococo,1482,1620
17,17,Henri Fantin-Latour,Michael,NaN,Berry,Italian,Expressionist,1861,1899
18,18,Hans Holbein,Sherri,sdv-pii-xogbi,Jackson,English,Realist,1877,1906
19,19,Joachim Beuckelaer,Catherine,NaN,Valdez,American,Portraitist,1903,1989